<!DOCTYPE html>
<head>
	<title>CSC 370 Assignment 3</title>
	<script src='/static/create.js'></script>
</head>
<body>
	<form role='form' onsubmit='create_user(); return false'>
		<legend>Create an account:</legend>
		<input type='text' placeholder='First Name', id='first_name' />
		<input type='text' placeholder='Last Name', id='last_name' />
		<input type='email' placeholder='Email', id='email' required />
		<input type='text' placeholder='Username', id='username' required />
		<input type='password' placeholder='Password', id='password' required />
		<input type='password' placeholder='Re-enter Password', id='confirm' required />
		<input type='text' placeholder='Skype Address', id='skype' />
		<button type='submit' id='submit'>Create Account</button>
	</form>
</body>
